<!DOCTYPE html>
<html>
  <head>
    <title>Your Email Template</title>
  </head>
  <body>
    <p>
      Hi,
      <br>
      <br>
      You requested a password reset for your  <%= website %> account. input your OTP to reset your password (expires in 30 minutes):
      <br>
      <br>
      <%= passwordResetLink %>
      <br>
      <br>
      If you didn't initiate this request, please contact our support team at support@myrootsy.id .
      <br>
      <br>
      Regards,
      <br>
      <%= website %> System
    </p>
  </body>
</html>