<!DOCTYPE html>
<html>
  <head>
    <title>Your Email Template</title>
  </head>
  <body>
    <p>
      Hi,
      <br>
      <br>
      This is to confirm that your password for your <%= website %> account has been successfully updated. Your account is now more secure.
      <br>
      <br>
      If you made this change, you can safely ignore this message. If you didn't change your password and believe your account may be compromised, please contact our support team immediately at support@myrootsy.id.
      <br>
      <br>
      Regards,
      <br>
      <%= website %> System
    </p>
  </body>
</html>