<!DOCTYPE html>
<html>
  <head>
    <title>Your Email Template</title>
  </head>
  <body>
    <p>
      Hi,
      <br>
      <br>
      Congratulations! You are now a registered member of <%= website %>. We're excited to have you join our community.
      <br>
      <br>
      If you ever have any questions or need assistance, don't hesitate to contact our support team at support@myrootsy.id.
      <br>
      <br>
      Thank you for choosing <%= website %>! We look forward to seeing you on our platform.
      <br>
      <br>
      Regards,
      <br>
      <%= website %> System
    </p>
  </body>
</html>