      </div>
      <!-- ===== BODY END ===== -->

      <!-- Footer -->
      <div class="footer">
        <p>&copy; <%= year || new Date().getFullYear() %> TRAVL. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
